<nav class="navbar">
    <div class="nav-brand">
        <a href="/">📚 BookNotes</a>
    </div>
    <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="/aboutme">About Me</a></li>
 
         
    </ul>
</nav>